{% extends 'base.html' %}

{% block content %}
<p class="disp-msg">{{display_message}}</p>

<table class="watch-tbl">
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>
    </tr>
    {% comment %} Add data below {% endcomment %}
    {% for movie in watch_list %}
    	<tr>
            {% if movie.watched == True %}
                <td><i class="fa fa-eye"></i></td>
            {% else %}
                <td><i class="fa fa-eye-slash"></i></td>
            {% endif %}

            <td>{{movie.title}}</td>

            {% if movie.rating == 0.00 %}
                <td>-</td>
            {% else %}
                <td><i class="fa fa-star"></i>{{movie.rating}}</td>
            {% endif %}

            <td>{{movie.release_date}}</td>

            <td>{{movie.review}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}